.covid {
  display: flex;
  align-items: center;
  height: 80vh;
  border: 1px solid;
  background-color: rgba(33, 31, 84, 1);
  border-radius: 25px;
  overflow: hidden;
}

.covid-left {
  width: 50%;
  padding: 10px 0 10px 10px;
}

.covid-left img {
  width: 85%;
  height: 100vh;
}

.covid-right h3 {
  text-transform: uppercase;
  font-size: 16px;
}

.covid-right {
  color: white;
}

.covid-right h1 {
  max-width: 350px;
  font-size: 40px;
  line-height: 45px;
  padding-top: 8px;
  padding-bottom: 15px;
}

.covid-right p {
  font-weight: 400;
  max-width: 350px;
  font-size: 19px;
  padding-bottom: 20px;
}

.covid-btn {
  display: flex;
  align-items: center;
  gap: 20px;
}

.covid-call {
  display: flex;
  align-items: center;
}

.covid-btn button {
  padding: 15px 25px;
  background-color: rgba(0, 117, 255, 1);
  border: none;
  color: white;
  border-radius: 10px;
  font-size: 16px;
}

.covid-call img {
  width: 60px;
  height: 60px;
}

.covid-num p {
  padding-bottom: 0px;
  text-transform: uppercase;
  font-size: 16px;
}

.covid-num h3 {
  font-weight: 700;
  font-size: 25px;
}
